{{!< ../default}}

{{#contentFor "mapache_class_site_main"}}site-account u-flexColumnCenter u-relative{{/contentFor}}

{{#if @member.paid}}

    {{!-- Logged in, paying member: Show account info --}}
    <div class="account-box">
        <h2 class="account-box-title u-fontSizeLarger u-marginBottom30">Houra ! Vous êtes déjà abonné !</h2>
        <p class="u-fontSizeBase">Salut ! <strong>{{@member.email}}</strong> a un abonnement donnant accès à tout le contenu du site. En plus vous nous aidez à maintenir Sous La Pluie gratuit et sans pub ! Merci à vous ! </p>
    </div>

{{else if @member}}

    {{!-- Logged in, not paying: Link to checkout --}}
    <div class="account-box">
        <h1 class="account-box-title u-fontSizeLarger u-marginBottom30">Vous n'êtes pas abonné pour le moment !</h1>
        <p class="u-marginBottom30 u-fontSizeBase">Salut <strong>{{@member.email}}</strong> ! Vous êtes actuellement seulement membre de {{@site.title}}. Si vous souhaitez nous aider et rejoindre notre communauté de supporteurs alors n'hésitez pas à vous abonner.</p>
        <div class="authbox-signup">
            <a class="button button--large button--filled" href="{{@site.url}}/membership/">Devenez supporteur</a>
        </div>
    </div>

{{else}}

    {{!-- Not logged in: Redirect to signin --}}
    <script>window.location = '/signin/';</script>

{{/if}}