{{!< ../default}}

{{#if @member.paid}}
    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else if @member}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-membership{{/contentFor}}

<div class="checkout">
    <div class="checkout-wrap u-maxWidth740 u-container">
        <div class="row">

            <div class="col s12">
                <h1 class="checkout-title u-marginBottom30">Choisissez votre abonnement</h1>
                <p class="checkout-des u-fontSize22">Aidez nous à maintenir le site et à le garder sans pub !</p>
            </div>

            <div class="col s12 m6 u-flex">
                <div class="checkout-plan u-flexColumnTop u-flex--1">
                    <header class="checkout-plan-header">
                        <h3>Mensuel</h3>
                        <span>$</span><strong>{{@price.monthly}}</strong> / mois
                    </header>
                    <div class="checkout-plan-content u-flexColumnTop u-flex--1">
                        <ul>
                            <li>Accès complet au site</li>
                            <li>Soutenez vos auteurs préférés</li>
                            <li>Aidez nous à le garder sans pub</li>
                            <li>Rejoignez notre groupe privé de discussion</li>
                        </ul>
                        <a class="button button--large button--filled u-marginTop20" href="javascript:void(0)" data-members-plan="Monthly">Choose this plan</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 u-flex">
                <div class="checkout-plan u-flexColumnTop u-flex--1">
                    <header class="checkout-plan-header">
                        <h3>Annuel</h3>
                        <span>$</span><strong>{{@price.yearly}}</strong> / année
                    </header>
                    <div class="checkout-plan-content u-flexColumnTop u-flex--1">
                        <ul>
                            <li>Accès complet au site</li>
                            <li>Soutenez vos auteurs préférés</li>
                            <li>Aidez nous à le garder sans pub</li>
                            <li>Rejoignez notre groupe privé de discussion</li>
                        </ul>
                        <a class="button button--large button--filled u-marginTop20" href="javascript:void(0)" data-members-plan="Yearly">Choose this plan</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{else}}
    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}/signup/';</script>
{{/if}}